@model IEnumerable<Bibliotheek.Domain.Entities.Boek>

@{
    ViewBag.Title = "Index";
}

<form method="get">
    <input id="zoekVak" type="search" name="searchTerm" />
    <input type="submit" value="Zoek" title="Typ hier een string dat kan voorkomen in een boektitel, beginletters van naam of voornaam van de auteur, beginletters van de naam van de uitgever of begin van het isbn"/>
    @Html.ActionLink("Alles weergeven","Index")
</form>
@if(Session["login"]!=null){
<p>
    @Html.ActionLink("Voeg boek toe", "Create","Boek")
</p>
}
@if(Model.LongCount()>0){
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn.Nummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel) (@item.Exemplaren.Count)
        </td>
        
        <td>
            @if(Session["login"]!=null){
                @Html.ActionLink("Edit", "Edit","Boek", new { id=item.Id },null) @:|
            }
            @Html.ActionLink("Details", "Details","Boek", new { id=item.Id },null)
            @if(Session["login"]!=null && item.Exemplaren.Count()!=0){
                @:|
                @Html.ActionLink("Wis alle exemplaren", "WisAlleExemplarenVanBoek","Boek", new { id=item.Id },null)
            }
        </td>
    </tr>
}
</table>
}else{
    <p>Geen boek gevonden.</p>
}
@section scripts{
    <script>
        $(function(){
            $("#zoekVak").tooltip();
            $("#zoekVak").focus();
        });
    </script>
}