@model IEnumerable<Bibliotheek.Domain.Entities.Boek>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Voeg boek toe", "Create","Boek")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel) (@item.Exemplaren.Count)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit","Boek", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details","Boek", new { id=item.Id },null)
            @if(item.Exemplaren.Count()!=0){
                @:|
                @Html.ActionLink("Wis alle exemplaren", "WisAlleExemplarenVanBoek","Boek", new { id=item.Id },null)
            }
        </td>
    </tr>
}

</table>
