@if (Session["login"]!=null) {
    <text>
        Hello, @Session["login"]!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="#" onClick="document.getElementById('logoutForm').submit()">Afmelden</a>
        }
    </text>
}else {
    <ul>
        <li>@Html.ActionLink("Aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


  @* @:Hello, @Session["login"]!
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <input type="submit" value="Afmelden" />
            <a href="#" onClick="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@