@model Bibliotheek.Domain.Entities.Boek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Boek</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Isbn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isbn.Nummer)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Titel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titel)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Samenvatting)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Samenvatting)
    </div>
    <div class="display-label">
         @Html.LabelFor(model => model.Uitgever)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uitgever.Naam)
    </div>
    <div class="display-label">
            @Html.LabelFor(model => model.Auteurs)
    </div>
    <div class="display-field">
     @if(Model.Auteurs.LongCount()>0){
        <ul>
        @foreach (var a in Model.Auteurs) { 
            <li>
                @Html.DisplayFor(model => a.Familienaam) 
                @Html.DisplayFor(model => a.Voornaam)
            </li>
        }
        </ul>
        }else{
            <p>Nog geen auteurs.</p>
        }
    </div>
    <div class="display-label">
        <label>Aantal exemplaren</label>
    </div>
    <div class="display-field">
        @(Model.Exemplaren==null?"0":Model.Exemplaren.LongCount().ToString())
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @*@Html.ActionLink("Exemplaren", "ExemplarenVanBoek", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index","Home")
</p>
