@model Bibliotheek.Domain.Entities.Boek

@{
    ViewBag.Title = "WisAlleExemplarenVanBoek";
}



<h3>Alle exemplaren van dit boek wissen?</h3>
<fieldset>
    <legend>Boek</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Isbn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isbn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Samenvatting)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Samenvatting)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Alle exemplaren wissen" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
